@keyframes arrow-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px); 
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes focusShadow {
  0% {
    box-shadow: 0 0 0 0 var(--accent-color);
  }
  100% {
    box-shadow: 2px 2px 0 var(--accent-color);
  }
}

.card__like-button:focus {
  outline: none;
  animation: focusShadow 0.3s ease-in-out forwards; 
}

.button-save:focus {
  outline: none;
  animation: focusShadow 0.3s ease-in-out forwards; 
}

.close-button:focus {
  outline: none;
  animation: focusShadow 0.3s ease-in-out forwards; 
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); 
  }
  to {
    transform: translateX(0);
  }
}

.card__like-button:hover::before {
  animation: slideIn 0.5s ease-in-out;
  transform: translateX(0);
}

.button-save:hover::before {
  animation: slideIn 0.5s ease-in-out;
  transform: translateX(0);
}

.close-button:hover::before {
  animation: slideIn 0.5s ease-in-out;
  transform: translateX(0);
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.card__like-button:hover::before {
  animation: slideIn 0.5s ease-in-out;
  transform: translateX(0);
}

.button-save:hover::before {
  animation: slideIn 0.5s ease-in-out;
  transform: translateX(0);
}

.card__like-button:not(:hover)::before {
  animation: slideOut 0.5s ease-in-out; 
  transform: translateX(-100%);
}

.button-save:not(:hover)::before {
  animation: slideOut 0.5s ease-in-out; 
  transform: translateX(-100%);
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease 0.05s, fill-opacity 0.3s ease 0.05s;
}

.card__icon-button:hover .contour {
  fill: var(--name);
}

.card__icon-button:hover .main-body {
  fill: var(--name);
  fill-opacity: 1;
}

.card__icon-button:hover .core {
  fill: var(--name);
  transition: fill 0.3s ease;
}

.card__icon-button:active .main-body {
  fill: var(--bg-heart);
  transition: fill 0.3s ease 0s;
}

.card__icon-button:active .core {
  fill: var(--bg-heart);
  transition: fill 0.3s ease 0s;
}

.like-icon.is-liked .contour {
  fill: var(--bg-heart);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .core {
  fill: var(--bg-heart);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .main-body {
  fill: var(--bg-heart);
  transition: fill 0.3s ease;
}

.like-icon.is-liked .contour {
  fill: var(--bg-heart);
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

@keyframes scaleHeart {
  0% {
    transform: scale(1);
    transform-origin: center;
  }
  50% {
    transform: scale(1.5);
    transform-origin: center;
  }
  100% {
    transform: scale(1);
    transform-origin: center;
  }
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s 1 both;
}

@keyframes sparksAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in 0.3s 1 both;
}

.like-icon .contour {
  transition-delay: 0.1s; 
}
