:root.theme-dark {
  --maint-font-weigth: 400;
  --title-card-font-weight: 785;
  --bg-color: #000000;
  --accent-color: #00CC14;
  --main-font-size: 14px;
  --accent-font-size: 18px;
  --tag-stroke-color: var(--bg-color);
  --color_button_hover: var(--accent-color);
  --name: var(--accent-color);
  --bg-image: url(),
    repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      #007f0c,
      #004306
    );
}

@media (prefers-color-scheme:dark) {
  :root {
    --maint-font-weigth: 400;
    --title-card-font-weight: 785;
    --bg-color: #000000;
    --accent-color: #00CC14;
    --main-font-size: 14px;
    --accent-font-size: 18px;
    --tag-stroke-color: var(--bg-color);
    --color_button_hover: var(--accent-color);
    --name:var(--accent-color);
    --bg-image: url(),
    repeating-linear-gradient(
      to right,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #000 0,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      #007f0c,
      #004306
    );
  }
}