/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable.woff2', monospace, sans-serif;
  --accent-font: 'PressStart2P-Regular.woff';
  --main-font-weigth: 400;
  --main-font-size: 14px;
  --accent-font-size: 18px;
  --title-card-font-weight: 700;
  --bg-color: #FFFFFF;
  --accent-color: #000000;
  --tag-stroke-color: var(--bg-color);
  --name: var(--accent-color);
  --color_button_hover: var(--bg-color);
  --bg-heart: #FF0000;
  --bg-image: url(),
  repeating-linear-gradient(
    to right,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(
    #e7e7e7,
    #1a1a1a
  );
}